<div class="sidbar-wrapper">
  <div
    class="align-content-between d-flex flex-row justify-content-between mb-2 w-100 p-2"
  >
    <span>User</span>
    <span style="width: 120px">Actions</span>
  </div>
  <div
    class="users-wrapper"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="10"
    [infiniteScrollDisabled]="infiniteScrollDisabled"
    [scrollWindow]="false"
    (scrolled)="onScroll()"
    [ngClass]="{ 'w-75': active !== -1 }"
  >
    <div
      *ngFor="let user of usersList"
      class="user-container w-100 m-0 d-flex flex-row justify-content-between"
      (click)="openUserDetails(user)"
      [ngClass]="{ 'primary-bg': user.id === active }"
    >
      <div class="user-info">
        <img [src]="user.avatar" />
        <h2 [ngClass]="{ 'white-color': user.id === active }" class="body-font">
          {{ user.first_name }} {{ user.last_name }}
        </h2>
      </div>
      <div class="d-flex flex-row p-2" *ngIf="active === -1">
        <p-button
          class="p-button-outlined align-self-center p-button-outlined p-element mr-1"
          type="outlined"
          (click)="$event.stopPropagation(); openEditUser(user)"
        >
          <i class="pi pi-pencil"></i>
        </p-button>
        <p-button
          class="p-button-outlined align-self-center p-button-outlined p-element"
          type="outlined"
          (click)="$event.stopPropagation(); deleteUser(user)"
        >
          <i class="pi pi-trash"></i>
        </p-button>
      </div>
    </div>
    <div
      class="d-flex flex-row p-3"
      *ngIf="infiniteScrollDisabled && !noMoreData"
    >
      <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
      <div style="flex: 1">
        <p-skeleton width="100%" styleClass="mb-1"></p-skeleton>
        <p-skeleton width="75%" styleClass="mt-1"></p-skeleton>
      </div>
    </div>
  </div>
  <app-parent-sidebar
    (deletUser)="deleteUser($event)"
    (editUser)="openEditUser($event)"
  ></app-parent-sidebar>
</div>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<p-dialog [(visible)]="showModal" [modal]="true" [style]="{ width: '363px' }">
  <ng-template pTemplate="header">
    <img class="avatar" [src]="draftUser?.avatar" />
  </ng-template>
  <div class="w-100" *ngIf="editForm">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="nameHelp"
          placeholder="Enter name"
          formControlName="name"
        />
        <div
        *ngIf="
          editForm.controls['name'].invalid &&
          (editForm.controls['name'].dirty ||
            editForm.controls['name'].touched)
        "
        class="alert p-0 m-0"
      >
        <small *ngIf="editForm.controls['name'].errors?.['required']">
          Name is required.
        </small>
      </div>
      </div>
      <div class="form-group">
        <label for="jobTitle">Job Title</label>
        <input
          type="text"
          class="form-control"
          id="jobTitle"
          placeholder="Job Title"
          formControlName="jobTitle"
        />
        <div
          *ngIf="
            editForm.controls['jobTitle'].invalid &&
            (editForm.controls['jobTitle'].dirty ||
              editForm.controls['jobTitle'].touched)
          "
          class="alert p-0 m-0"
        >
          <small *ngIf="editForm.controls['jobTitle'].errors?.['required']">
            Job title is required.
          </small>
        </div>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <div class="d-flex flex-row justify-content-center w-100">
      <button
        pButton
        class="p-button-rounded align-self-center w-40 p-element mr-1 white-color"
        type="rounded"
        (click)="showModal = false"
      >
        <span class="white-color pl-1">Cancel</span>
      </button>
      <button
        pButton
        class="p-button-rounded align-self-center w-40 text-center p-element white-color"
        type="rounded"
        (click)="onSubmit()"
      >
        <span class="white-color pl-1">Save</span>
      </button>
    </div>
  </ng-template>
</p-dialog>
